.container {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto;
}

.topPanel {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.placeholderGraph {
  border-radius: 12px;
}

.panelBlock {
  width: 350px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon {
  font-size: 50px;
  margin-bottom: 16px;
}