.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.toggles {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}


.save_btn {
  width: 100%;
  margin-top: 40px;
  background: #FF8200;
  color: #fff;
  transition: filter 0.3s ease; /* Плавный переход */
  &:hover {
    color: #fff;
    background: #FF8200;
    filter: brightness(0.90); /* Уменьшаем яркость на 15% */
  }
}

.delete_btn {
  width: 100%;
  margin-top: 40px;

  &.isDelete {
    background: indianred;
    color: white;
  }
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}