/* .e-pivotview {
  width: 100%;
  height: 100%;
}

.sb-sample-content-area {
  min-height: 255px !important;
}
.control-section {
  min-height: 255px !important;
} */

.e-pivotview .e-columnheader .e-headercell {
    background-color: #3498db;
    text-align: center;
}

.e-grid .e-gridcontent td:first-child {
    background-color: #3498db;
    position: sticky;
    left: 0;
    z-index: 1;
}

.e-grid {
    width: 100% !important;
}

.e-pivotview .e-leftfreeze.e-freezeleftborder:not(.e-gtot) {
    text-align: left;
}

.e-pivotview .e-grid .e-icons {

    padding-left: 40px;
}

.e-pivotview .e-rowcell .e-cellvalue{
    /*padding-left: 20px;*/
}


.ag-body-horizontal-scroll-viewport::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-track {
    background: #fff;
}
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb {
    background-color: #fa8900; /* Цвет бегунка */
    border-radius: 20px; /* Округление бегунка */
}
