

.wrapper{
  position: relative;

  .visible{
    width: 300px;
    //max-height: 200px;
  }
  .title{
    margin-bottom: 16px;
  }
  .row{
    display: flex;
    align-items: center;
    gap: 16px;
  }
}