.container {
  width: 100%;
  height: 100%;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.block {
  width: 49.5%;
  height: 400px;
  outline: 1px solid #000;
  border-radius: 6px;
  padding: 5px;
  margin-bottom: 16px;
}

.chartBlock {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1250px) {
  .container {
    flex-direction: column;
  }

  .block {
    width: 100%;
  }
}