
.wrapper{
  padding: 20px;
}

.chartContainer {
  width: 100%;
  height: 400px; // Adjust the height as needed

}
.menu{
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  .select{
    min-width: 100%;
    &  div > span > span {
      display: flex;
    }
  }

  .type{
    width: 200px;
  }
  .rotate_wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
    .rotate{
      width: 100px;
    }
  }
  .barWidth_wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
  }

}

.buttons{
  margin-top: 24px;
  display: flex;
  gap: 24px;
}