
.wrapper{
  padding: 20px;
}

.chartContainer {
  width: 100%;
  //max-width: 800px;
  height: 400px; // Adjust the height as needed

}

.layout{
  display: flex;
}

.controls{
  max-width: 500px;
  width: 100%;
}
.menu{
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  .select{
    width: 300px;
    &  div > span > span {
      display: flex;
    }
  }

  .type{
    width: 200px;
  }
  .rotate_wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
    .rotate{
      width: 100px;
    }
  }
  .barWidth_wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
    .barWidth{
      width: 100px;
    }
  }

  .block{
    display: flex;
    flex-direction: column;
    gap: 16px;
    .line{
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}

.buttons{
  margin-top: 24px;
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}