
.wrapper{
  padding: 20px;
}

.chartContainer {
  width: 100%;
  height: 400px; // Adjust the height as needed

}
.menu{
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  .select{
    min-width: 100%;
    &  div > span > span {
      display: flex;
    }
  }

  .type{
    width: 200px;
  }
}

.buttons{
  display: flex;
  gap: 24px;
}