

.wrapper{
  padding: 20px 20px 0;
  width: 100%;
  display: flex;
  gap: 1rem;
  display: flex;
  flex-direction: column;

  .filter{
    .search{
      width: fit-content;
      display: flex;
      gap: 8px;
      align-items: center;

      .filterAttribute{
        min-width: 224px;
      }
    }
  }

  .tabs{
    flex-grow: 1;
    
    .tabs_content{
      //background: #000;
    }
  }
}