

.wrapper{
  background: linear-gradient(45deg,var(--rs-gray-100), var(--rs-gray-200));
  box-shadow: 5px 4px 18px -2px rgba(34, 60, 80, 0.2);
  border-radius: 8px;
  padding: 10px;
  //padding-inline: 10px;
  
  .chart{
    background: linear-gradient(45deg,white, var(--rs-gray-100));
    border-radius:8px;
  }
  //background: linear-gradient(45deg,var(--rs-gray-200), var(--rs-gray-300));
  .title_wrapper{
    padding-left: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    .btn{
      width: 40px;
      height: 40px;
    }
  }
}