.container {
  padding: 5px;
  width: 100%;
}

.inputBlocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.topPanel {
  display: flex;
  justify-content: space-between;
}

.botPanel {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.placeholderGraph {
  border-radius: 12px;
}

.panel {
  margin-bottom: 16px;
}

.report2container {
  width: 100%;
  padding: 10px;
}

.saveBlock {
  width: 250px;
  height: 150px;
  border-radius: 8px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 750px) {
  .report2container {
    width: 100%;
  }
}