.container {
  padding: 5px;
  width: 100%;
}

.inputBlocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.topPanel {
  display: flex;
  justify-content: space-between;
}

.placeholderGraph {
  border-radius: 12px;
}

.panel {
  margin-bottom: 16px;
}