

.wrapper{
  padding-inline: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
    flex-wrap: wrap;

  .filters{
    display: flex;
    gap: 8px;
    align-items: center;
    height: 40px;
    @media (max-width: 1500px) {
      width: 100%;
    }
  }
  .clients_select{
    width: 224px;
  }
  .save_pptx{
    margin-left: auto;
    padding: 10px 20px;
    background: #FF8200;
    color: #fff;
  }
  .uploader{
    display: flex;
    align-items: center;
    //margin-right: auto;
  }
}