
.wrapper {
  padding-inline: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  .btn{
    border: 1px solid rgba(0,0,0, .1);
    border-radius: 6px;
  }
  @media (max-width: 1000px) {
  flex-wrap: wrap;


    justify-content: flex-start;
    .filters{
      width: 100%;
    }
  }

  .dropdown_item{
    span {
      display: flex;
      gap: 8px;
      align-items: center;
      img{
        height: 20px;
        width: 20px;
      }
    }

  }

  .filters {
    display: flex;
    gap: 8px;
    align-items: center;
    height: 40px;
    margin-right: auto;
    @media (max-width: 1500px) {
      width: 100%;
    }
  }

  .clients_select {
    width: 224px;
  }

  .save_pptx {
    flex-shrink: 0;
    //margin-left: auto;
    padding: 10px 20px;
    background: #FF8200;
    color: #fff;
  }

  .create_pptx {
    //margin-left: auto;
    flex-shrink: 0;
    //margin-left: auto;
    padding: 10px 20px;

  }

  .create_chart {
    //margin-left: auto;
    flex-shrink: 0;
    //margin-left: auto;
    padding: 10px 20px;

  }

  .uploader {
    display: flex;
    align-items: center;
    //margin-right: auto;
  }
}