.container {
  margin: 20px;
}

//.toggle-button {
//  padding: 10px 15px;
//  cursor: pointer;
//  background-color: #007bff;
//  color: white;
//  border: none;
//  border-radius: 4px;
//  margin-bottom: 10px;
//}

.filter-wrapper {
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease; /* Плавные переходы */
}

.filter-content {
  //background: #f0f0f0;
  //padding: 20px;
  //border-radius: 4px;
}

.show {
  max-height: 200px; /* Задайте максимальную высоту в зависимости от вашего контента */
  opacity: 1;
}

.hide {
  max-height: 0;
  opacity: 0;
}
