.App {
  width: 99vw;
  height: 99vh;
  margin: 0;
  padding: 5px;
  overflow: hidden;
}

.appContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.authRoute {
  text-decoration: underline;
  cursor: pointer;
}

.error-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}