.chartContainer {
  width: 100%;
  //max-width: 800px;
  min-height: 400px; // Adjust the height as needed

}

.title_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}